<%= content_for :header_tags do %>
  <%= stylesheet_link_tag :tracker_description, :plugin => "redmine_tracker_description" %>
  <%= javascript_include_tag :tracker_description, :plugin => :redmine_tracker_description %>
<% end %>

<% if issue.tracker.description.present? %>
  <div id="ticket_tracker_description">
    <a><%= l("tracker_description.desc_label") %></a>
    <div>
      <%= simple_format(issue.tracker.description) %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){TrackerDescription.showDescription()});
</script>
